:root {
  --light-second: #9df2ff;
  --dark-prime: #0f044c;
}

.App {
  font-family: cursive;
  text-align: center;
}
.main {
  background-image: url("nl.webp");
  max-width: 1000px;
  margin: 0 auto;
  border-radius: 5px;
}
input {
  border-color: var(--light-second);
  color: var(--light-second);
}
span {
  text-align: center;
  color: var(--light-second);
}

.searchbar {
  width: 100%;
  padding-left: 20px;
  border: none;
  right: 40px;
  background-color: var(--dark-prime);
  border-bottom-left-radius: 15px;
  border-top-left-radius: 15px;
}

.searchbutton {
  position: relative;
  right: 50px;
  top: -1px;
  width: 115px;
  height: 105%;
  background-color: var(--light-second);
  color: var(--dark-prime);
  border-color: var(--dark-prime);
}
.currentbutton {
  background-color: var(--dark-prime);
}
.navbar {
  background-color: var(--dark-prime);
  color: var(--light-second);
  font-weight: 1000;

  justify-content: center;
}
.num {
  font-size: 60px;
  display: block;
  color: var(--light-second);
}
#emoji {
  display: block;
  position: relative;
  top: -20px;
}

.bottomdiv {
  position: relative;
  right: 3px;
}

.day {
  display: block;
  margin: 0 auto;
  padding: 10px;
  font-weight: 500;
  color: var(--light-second);
}
.emoji {
  font-size: 50px;
  margin: 0 35px;
  display: block;
  color: #fff;
  text-align: center;
}
.today {
  background-color: var(--dark-prime);
  border: 2px solid var(--light-second);
  border-radius: 5px;
  margin: 0px auto;
  padding: 15px;
}
.todaydiv {
  max-width: 250px;
  margin: 30px auto;
}

.weekdiv {
  background-color: var(--dark-prime);
  justify-content: left;
  border: 2px solid var(--light-second);
  height: 150px;
  width: 150px;
  border-radius: 50%;
  margin: 10px;
}
.littletext {
  margin-top: 20px;
  color: var(--light-second);
  display: block;
}
#city {
  color: var(--light-second);
}
a {
  color: var(--light-second);
}
#cb {
  color: #fff;
}
a:hover {
  color: var(--light-second);
}
